

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/trainerDashboard.css">
    <style>
      .scrolling-wrapper{
        overflow-x: scroll;
      }
      .card {
        min-width: 250px;
        min-height: 250px;
      }
      .zoom {
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1); 
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1); 
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1);
        transition: all 200ms ease-in;
        transform: scale(1);
      }
      .zoom:hover {
        box-shadow: 0px 0px 20px #7B8788;
        z-index: 2;
        -webkit-transition: all 200ms ease-in;
        -webkit-transform: scale(1.3);
        -ms-transition: all 200ms ease-in;
        -ms-transform: scale(1.3);   
        -moz-transition: all 200ms ease-in;
        -moz-transform: scale(1.3);
        transition: all 200ms ease-in;
        transform: scale(1.3);
      }
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">ShapeYou</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <% if(!currentUser){ %>
                <li><a class="nav-link mr-3" href="/auth/login">Login</a></li>
                <li><a class="nav-link" href="/auth">Sign Up</a></li>
            <% } else{ %>
                <li><a href="#">Signed In as <%= currentUser.username %></a></li>
                <li><a href="/auth/logout">Sign Out</a></li>
            <% } %>
          </ul>
        </div>
      </nav>

    <div class="container">