<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/categoryShow.css">
</head>
<body>

    <div class="mainBox">
        <div class="categoryDescription">
            <h1>Category Name</h1>
            <div class="categoryContent">
                Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. 
                It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
                It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </div>
        </div>

        <div class="trainersBox">
            <div class="subcategories">
                <button style="margin:20px">Button A</button>
                <button style="margin:20px">Button B</button>
            </div>
            <div class="trainers">

                  <div class="Mycard">
                      <div class="cardImg" style="float: left">
                          <img src="https://wallpaperaccess.com/full/304417.jpg" style="width: 140px;">
                      </div>
                      <div class="cardContent">
                          Trainer Name: ddddd<br>
                          trainer rAting: 5
                      </div>
                  </div>
                  <div class="Mycard">
                      <div class="cardImg" style="float: left">
                          <img src="https://wallpaperaccess.com/full/304417.jpg" style="width: 140px;">
                      </div>
                      <div class="cardContent">
                          Trainer Name: ddddd<br>
                          trainer rAting: 5
                      </div>
                  </div>
                  <div class="Mycard">
                      <div class="cardImg" style="float: left">
                          <img src="https://wallpaperaccess.com/full/304417.jpg" style="width: 140px;">
                      </div>
                      <div class="cardContent">
                          Trainer Name: ddddd<br>
                          trainer rAting: 5
                      </div>
                  </div>

            </div>
        </div>
    </div>
    
</body>
</html>