<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>

    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/categoryShow.css">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

</head>
<body>

    <!-- NAVBAR -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">ShapeYou</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        </div>
    </nav>

<!-- content -->


    <div class="mainBox">

        <section class="text-gray-700 body-font">
            <div class="container mx-auto flex px-5 py-24 md:flex-row flex-col items-center">
              <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
                <h1 class="title-font sm:text-4xl text-3xl mb-4 font-medium text-gray-900"><%= category.parent %>
                </h1>

                <% switch (category.parent) {
                    case 'Wellness' : %>
                        <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
                    </div>
                    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                        <img class="object-cover object-center rounded" alt="hero" src="https://manhattanmentalhealthcounseling.com/wp-content/uploads/2019/06/Top-5-Scientific-Findings-on-MeditationMindfulness.jpeg">
                    </div>
                    <% break;%>
                
                    <% case 'Counselling' : %>
                        <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
                    </div>
                    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                        <img class="object-cover object-center rounded" alt="hero" src="https://www.nalandaschool.org/assets/images/Counselling.jpg">
                    </div>
                    <% break;%>
                
                    <% case 'Fitness trainer' : %>
                        <p class="mb-8 leading-relaxed">Copper mug try-hard pitchfork pour-over freegan heirloom neutra air plant cold-pressed tacos poke beard tote bag. Heirloom echo park mlkshk tote bag selvage hot chicken authentic tumeric truffaut hexagon try-hard chambray.</p>
                    </div>
                    <div class="lg:max-w-lg lg:w-full md:w-1/2 w-5/6">
                        <img class="object-cover object-center rounded" alt="hero" src="https://media.gq.com/photos/5ee2450a2e828590ab87b75a/16:9/w_1280,c_limit/what%2520comes%2520after%2520cross%2520fit%2520gq%2520june%25202020%2520.jpg">
                    </div>
                    <% break;%>
                
                <% } %>

            </div>
          </section>

            <% switch (category.parent) {
                case 'Wellness' : %>
                    <div class="trainersBox">
                        <div class="subcategories">
                            <button name = "Yoga" style="margin:20px">Yoga</button>
                            <button name = "Meditation" style="margin:20px">Meditation</button>
                        </div>
                        <% break;
                
                case 'Counselling' : %>
            
                    <div class="trainersBox">
                        <div class="subcategories">
                            <button name = "Nutrition"  style="margin:20px">Nutrition</button>
                            <button name = "Therapy & counselling" style="margin:20px">Therapy & counselling</button>
                        </div>
                        <% break;
                
                case 'Fitness trainer' : %>
                    <div class="trainersBox">
                        <div class="subcategories">
                            <button name = "CrossFit" data-filter=".filter-crossfit" style="margin:20px">CrossFit</button>
                            <button name = "Functional & Strength Training" style="margin:20px">Functional & Strength Training</button>
                            <button name = "Zumba" style="margin:20px">Zumba</button>
                            <button name = "Dance" style="margin:20px">Dance</button>
                            <button name = "MMA and Boxing" style="margin:20px">MMA & Boxing</button>
                        </div>
                        <% break;
                
                } %>

            <div class="trainers" id="trainersList">

                <% trainers.forEach((trainer)=>{   %>
                    <div class="col-lg-4 col-md-6 px-auto">
                        <div class="card mb-5" style="width: 18rem;">
                            <img class="card-img-top" src="https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
                            <div class="card-body">
                                <a href="/trainer/profile/<%= trainer._id %>"><h5 class="card-title"><%= trainer.username %></h5></a>
                            </div>
                          </div>
                    </div>
                <% }); %>

                  
                  

            </div>
    </div>
    <script>

        var trainers = <%- JSON.stringify(trainers) %> 

        $("button").click(function() {
            var text = '';

            var name = this.name;

            trainers.forEach(function(trainer){

                subCategories = trainer.subCategories;

                for(var i=0;i<subCategories.length;i++){
                    
                    if(subCategories[i] == name){
                        
                        text += `<div class="col-lg-4 col-md-6 px-auto filter-crossfit">
                                        <div class="card mb-5" style="width: 18rem;">
                                            <img class="card-img-top" src="https://images.unsplash.com/photo-1534258936925-c58bed479fcb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
                                            <div class="card-body">
                                                <a href="/trainer/profile/${trainer._id}"><h5 class="card-title"> ${trainer.username}</h5></a> 
                                            </div>
                                        </div>
                                    </div>`
                    }
                }

            });
            document.getElementById("trainersList").innerHTML = text;
                        
        });        


        $('button').on('click', function(){ 
            $(this).addClass("activated");
            $("button").not(this).removeClass('activated');
        });

    </script>
</body>
</html>