<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/signup.css">
    
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
</head>
<body>
    <div class="form bg-light">
        <button class="btn btn-primary" id="userSignupButton">User Signup</button>
        <button class="btn btn-secondary" id="trainerSignupButton">Trainer Signup</button>
        
        <!-- User Sign up -->
        <form id="userForm" method="POST" action="/auth/user">
            <div class="form-group mt-2">
                <label for="userName">Name</label>
                <input type="text" class="form-control" id="userName" name="Name" placeholder="Enter Name" required>
            </div>
            <div class="form-group mt-2">
                <label for="userAddress">Address</label>
                <input type="text" class="form-control" id="userAddress" name="Address" placeholder="Enter Address" required>
            </div>
            <div class="form-group mt-2">
                <label for="userEmail">Email address</label>
                <input type="text" class="form-control" id="userEmail" name="Email" placeholder="Enter Email" required>
                <small id="userSignupError" class="form-text text-danger" hidden>Email Already Exist</small>
            </div>
            <div class="form-group">
                <label for="userPassword">Password</label>
                <input type="password" class="form-control" id="userPassword" name="password" placeholder="Password" required>
            </div>
            <div class="form-group mt-2">
                <label for="userMobile">Mobile</label>
                <input type="number" class="form-control" id="userMobile" name="Mobile" placeholder="Enter Mobile Number" required>
            </div>
            <button type="submit" class="btn btn-primary" id="userSignupFormButton">Sign-up</button>
        </form>


        <!-- Trainer Sign up -->
        <form id="trainerForm" class="hide" method="POST" action="/auth/trainer">
            <div class="form-group mt-2 ">
                <label for="trainerName">Username</label>
                <input type="text" class="form-control" id="trainerName" name="trainerName" placeholder="Enter Name" required>
            </div>
            <div class="form-group mt-2">
                <label for="trainerEmail">Email address</label>
                <input type="text" class="form-control" id="trainerEmail" name="trainerEmail" placeholder="Enter Email" required>
            </div>
            <div class="form-group">
                <label for="trainerPassword">Password</label>
                <input type="password" class="form-control" id="trainerPassword" name="password" placeholder="Password" required>
            </div>
            <div class="form-group mt-2">
                <label for="trainerMobile">Mobile</label>
                <input type="number" class="form-control" id="trainerMobile" name="trainerPhone" placeholder="Enter Mobile Number" required>
            </div>
            <button type="submit" class="btn btn-primary" id="trainerSignupFormButton">Sign-up</button>
        </form>

        <h4>Have An Existing Account?? Login <a href="/login.html">Here...</a></h4>
    </div>
    <script src = "/scripts/signup.js"></script>
</body>
</html>