<%- include('./partials/header') %>

<div style='margin-top: 150px;'>
  <h1>helo</h1>

<h1>
  <% user.trainers.forEach(function(trainer) { %>
    <h1><%= trainer.username %></h1>
  <% }) %>
</h1>
</div>


<%- include('./partials/footer') %>
