<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zoom Meeting</title>

    <!-- Zoom Css -->
    <link type="text/css" rel="stylesheet" href="node_modules/@zoomus/websdk/dist/css/bootstrap.css" />
    <link type="text/css" rel="stylesheet" href="node_modules/@zoomus/websdk/dist/css/react-select.css" />

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

</head>
<body>
    <div class="button">
        <button id="goTo">Go to meeting</button>
    </div>
    
    <script src = "/scripts/zoomDashboard.js"></script>
</body>
</html>