body {
  background-color: #fffff4;
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
  }
  
  .portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 25px auto;
    list-style: none;
    text-align: center;
    border-radius: 50px;
    padding: 2px 15px;
  }
  
  .portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #444444;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
  }
  
  .portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
    color: #fff;
    background: #5846f9;
  }
  
  .portfolio #portfolio-flters li:last-child {
    margin-right: 0;
  }
  
  .portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  
  .portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(88, 70, 249, 0.8);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
  }
  
  .portfolio .portfolio-wrap .portfolio-info {
    opacity: 0;
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 3;
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-info h4 {
    font-size: 20px;
    color: #fff;
    font-weight: 600;
  }
  
  .portfolio .portfolio-wrap .portfolio-info p {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
  }
  
  .portfolio .portfolio-wrap .portfolio-links {
    opacity: 0;
    left: 0;
    right: 0;
    bottom: 10%;
    text-align: center;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a {
    color: rgba(255, 255, 255, 0.6);
    margin: 0 2px;
    font-size: 28px;
    display: inline-block;
    transition: 0.3s;
  }
  
  .portfolio .portfolio-wrap .portfolio-links a:hover {
    color: #fff;
  }
  
  .portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-info {
    opacity: 1;
    top: calc(50% - 48px);
  }
  
  .portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: calc(50% - 50px);
  }

  .card-deck{
    height: 100% !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: center !important;
  }

  .card{
    min-width: 250px !important;
    max-width: 250px !important;
    margin: 20px !important;
  }

  .btn-holder{
    display: flex;
    margin:10px;
    backdrop-filter: blur(8px); 
    justify-content: center;
  }

.mainBox{
    background-color: white;
    /* max-width: 1240px; */
    margin: 0 auto;
    margin-top: 55px;
    height: 100%;
}

.categoryDescription{
    text-align: center;
    margin-bottom: 50px;
}

.subcategories{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.trainers{
    /* border:2px solid black; */
    max-width: 1240px;
    width: 100vw;
    margin: 0 auto;
    height:500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top:20px;
}

button{
    outline: none;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    font-size: 13pt;
    transition: all .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activated {
    color: white !important;
    background-color: #EE0079;
}


div.items {
  white-space: nowrap;
  flex-flow: row nowrap;
  justify-content: space-between;
  overflow: hidden;
  display: flex;
  align-self: center;
}
div.items:hover .item {
  opacity: 0.3;
}
div.items:hover .item:hover {
  opacity: 1;
}
div.control-container {
  height: 300px;
  position: absolute;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}
div.carouselBox {
  user-select: none;
  min-height: 300px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
div.left-scroll {
  left: 0;
}
div.left-scroll i {
  transform: translate(-60%, -50%);
}
div.right-scroll {
  right: 0;
}
div.right-scroll i {
  transform: translate(-40%, -50%);
}
div.scroll {
  position: absolute;
  display: inline-block;
  color: #f6f6f6;
  top: 50%;
  transform: translate(0, -50%);
  width: 60px;
  height: 60px;
  border: 1px solid #f6f6f6;
  border-radius: 60px;
  margin: 0 5px;
  z-index: 951;
}
div.scroll i {
  font-size: 30px;
  position: relative;
  left: 50%;
  top: 50%;
}
.item {
  position: relative;
  align-self: center;
  width: 200px;
  height: 200px;
  margin: 0 3px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 899;
}
.item:hover {
  transform: scale(1.5);
  margin: 30px;
  opacity: 1;
  z-index: 950;
}
.item:hover .opacity-none {
  opacity: 1;
}
.item .item-load-icon {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.item .opacity-none {
  opacity: 0;
}
.item img.item-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
.item .item-title {
  color: #f6f6f6;
  position: absolute;
  margin: 5px 0;
  padding: 10px 0;
  width: 100%;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
}
.item .item-description {
  color: #f6f6f6;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  white-space: pre-wrap;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  margin: 5px 0;
  padding: 10px 0;
}
.button {
  position: absolute;
  color: #f6f6f6;
  font-size: 30px;
  border: 1px solid #f6f6f6;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  z-index: 950;
  background-color: rgba(0, 0, 0, 0.7);
  transition: all 0.3s ease-in-out;
}
.button i {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -55%);
  z-index: 950;
}
.button:hover {
  box-shadow: 0px 0px 50px #fff;
}
#footer {
	color: #fff;
	font-size: 14px;
	background: linear-gradient(45deg, rgba(133, 175, 99, 0.9) 0%, rgba(0, 105, 148, 0.9) 100%), url("../img/hero-bg.jpg") center center no-repeat;
	background-size: cover;
  }
  
  #footer .footer-top {
	padding: 60px 0 30px 0;
	position: relative;
  }
  
  #footer .footer-top .footer-contact {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-contact h3 {
	font-size: 28px;
	margin: 0 0 30px 0;
	padding: 2px 0 2px 0;
	line-height: 1;
	font-weight: 500;
	text-transform: uppercase;
  }
  
  #footer .footer-top .footer-contact p {
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 0;
	font-family: "Poppins", sans-serif;
  }
  
  #footer .footer-top h4 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-bottom: 12px;
  }
  
  #footer .footer-top .footer-links {
	margin-bottom: 30px;
  }
  
  #footer .footer-top .footer-links ul {
	list-style: none;
	padding: 0;
	margin: 0;
  }
  
  #footer .footer-top .footer-links ul i {
	padding-right: 2px;
	color: #fff;
	font-size: 18px;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul li {
	padding: 10px 0;
	display: flex;
	align-items: center;
  }
  
  #footer .footer-top .footer-links ul li:first-child {
	padding-top: 0;
  }
  
  #footer .footer-top .footer-links ul a {
	color: rgba(255, 255, 255, 0.8);
	transition: 0.3s;
	display: inline-block;
	line-height: 1;
  }
  
  #footer .footer-top .footer-links ul a:hover {
	text-decoration: underline;
	color: #fff;
  }
  
  #footer .footer-newsletter {
	font-size: 15px;
  }
  
  #footer .footer-newsletter h4 {
	font-size: 16px;
	font-weight: bold;
	position: relative;
	padding-bottom: 12px;
  }
  
  #footer .footer-newsletter form {
	margin-top: 30px;
	background: #fff;
	padding: 6px 10px;
	position: relative;
	border-radius: 5px;
	text-align: left;
	border: 1px solid white;
  }
  
  #footer .footer-newsletter form input[type="email"] {
	border: 0;
	padding: 4px 8px;
	width: calc(100% - 100px);
  }
  
  #footer .footer-newsletter form input[type="submit"] {
	position: absolute;
	top: -1px;
	right: -2px;
	bottom: -1px;
	border: 0;
	background: none;
	font-size: 16px;
	padding: 0 20px;
	background: #0059A7;
	color: #fff;
	transition: 0.3s;
	border-radius: 0 5px 5px 0;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  }
  
  #footer .footer-newsletter form input[type="submit"]:hover {
	background: #5846f9;
  }
  
  #footer .copyright-wrap {
	border-top: 1px solid #006994;
  }
  
  #footer .credits {
	padding-top: 5px;
	font-size: 13px;
	color: #fff;
  }
  
  #footer .credits a {
	color: #fff;
  }
  
  #footer .social-links a {
	font-size: 18px;
	display: inline-block;
	background: rgba(255, 255, 255, 0.1);
	color: #fff;
	line-height: 1;
	padding: 8px 0;
	margin-right: 4px;
	border-radius: 50%;
	text-align: center;
	width: 36px;
	height: 36px;
	transition: 0.3s;
  }
  
  #footer .social-links a:hover {
	background: rgba(255, 255, 255, 0.2);
	color: #fff;
	text-decoration: none;
  }

  .navbar-collapse ul li .underline {
    height: 3px;
    background-color: transparent;
    width: 0%;
    transition: width 0.5s, background-color 0.5s;
    margin: 0 auto;
  }
  
  .navbar-collapse ul li .active-link .underline {
    width: 100%;
    background-color: white;
  }
  
  .navbar-collapse ul li:hover .underline {
    background-color: white;
    width: 100%;
  }
  
  .navbar-collapse ul li:active a {
    transition: none;
    color: rgba(255,255,255,0.76);
  }
  
  .navbar-collapse ul li:active .underline {
    transition: none;
    background-color: rgba(255,255,255,0.76);
  }


  .navbar.navbar-dark .navbar-nav .nav-item .nav-link {
	  color: rgb(254, 254, 254);
	  letter-spacing: 0.1rem;
	  font-weight: 600;
	  font-family: 'Lato', sans-serif;
  }
  .navbar-dark .navbar-nav .nav-link {
	color: rgb(254, 254, 254);
	letter-spacing: 0.1rem;
	font-weight: 600;
	font-family: 'Lato', sans-serif;
  }
