body {
    /* background-image: url('madara2.png'); */
    background-size: cover;
    background-color: rgb(235, 236, 241);
}


.form {
    height: 400px;
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 130px;
}

.hide {
    display: none;
}