body {
    /* background-image: url(madara.png); */
    background-size: cover;
    background-color: rgb(235, 236, 241);
}

.form {
    width: 400px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 130px;
}

.hide {
    display: none;
}
