body{
    height: 1200px;
}

.courseContainer{
    height:400px;
    border: 2px solid grey;
    text-align: center;
    padding:15px;
}

#classes{
    margin:50px;
    height:200px;
}

.slotRow{
    width:720px;
    margin:0 auto;
    height:100px;
}

.slots{
    float: left;
    font-size: 30px;
}
.createLink{
    float:right;
    font-size: 30px;
}

input[type=checkbox] { 
    visibility: hidden; 
} 

.glyphicon{
    position: absolute; 
    top: 2px;
    left:2px; 
    height: 32px; 
    width: 33px; 
    background-color: #d39e00; 
}

.glyphicon:after { 
    content: ""; 
    position: absolute; 
    display: none; 
} 

.btn input:checked ~ .glyphicon:after { 
    display: block; 
} 

.btn .glyphicon:after { 
    left: 12px; 
    bottom: 10px; 
    width: 8px; 
    height: 17px; 
    border: solid white; 
    border-width: 0 4px 4px 0; 
    -webkit-transform: rotate(45deg); 
    -ms-transform: rotate(45deg); 
    transform: rotate(45deg); 
} 

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
    opacity: 1;				
    background-color:red;
}

.content{
  background-color: #E84342;
  height: 40px;
  border-radius: 20px;
  text-align: center;
  line-height: 2.4;
  color: darkred;
  width: 50%;
  margin-left: auto !important;
  margin-right: auto !important;
}

.trainingType{
    display: flex;
    justify-content: center;
}


button{
    outline: none;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    font-size: 13pt;
    transition: all .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activated {
    color: white !important;
    background-color: #EE0079;
}