html, body {
    margin: 0;
    font-family: 'Karla';
    color: #546e7a;
}
* {
    box-sizing: border-box;
}
.container{
    /* background-color: wheat; */
    margin-top:55px;
    padding-top: 20px;
}

.trainerDescription{
    padding-top: 50px;
    height: 100%;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
}

.trainerImg{
    width:320px;
    height:320px;
    float: left;
}

.trainerDetails{
    width: 320px;
    margin-left: 15px;
    text-align: unset !important;
}

.coupon {
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Raleway';
    width: 120px;
    height: 70px;
    padding: 7px;
    border-radius: 10px;
    background: black;
    color: white;
    box-shadow: 2px 2px 15px 0px #0dab3a;
}
.coupon:before, .coupon:after {
    content: '';
    position: absolute;
    left: 5px;
    height: 6px;
    width: 110px;
}
.coupon:before {
    top: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, black 50%, black 100%) -7px -8px / 16px 16px repeat-x;
}
.coupon:after {
    bottom: -5px;
    background: radial-gradient(circle, transparent, transparent 50%, black 50%, black 100%) -7px -2px / 16px 16px repeat-x;
}
.ticket__content {
    box-sizing: border-box;
    height: 100%;
    width: 98%;
    border: 4px solid #d8d8d8;
}



.trainingType{
    display: flex;
    justify-content: center;
}

button{
    outline: none;
    background-color: transparent;
    padding: 10px 10px;
    /* border: 1px solid #fff; */
    box-sizing: inherit;
    display: inline-block;
    font-size: 13pt;
    transition: all .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bookSlot{
    background-color: lightgreen;
    box-shadow: 2.5px 2.5px darkgreen;
    border-radius: 10px;
    color:darkgreen;
}

.booked{
    background-color: lightgreen;
    border-radius: 10px;
    color:darkgreen;
}

.activated {
    color: white !important;
    background-color: #EE0079;
}

.payment{
    background-color: rgb(0, 104, 231);
    border-radius: 20px;
    float: right;
}


.week-names{
    background-color: black;
    color:white;
}

.weekend{
    background-color: lightgray;
}

.time-interval{
    background-color: black;
    color:white;
    font-family: 'Roboto', sans-serif;
}

.table{
    table-layout: fixed;
    width: 100%;
}

.table tr{
    height:100px;
}

.table td,.table th,.table thead th{
    vertical-align: inherit;
}
/* .timetable {
    display: grid;
    grid-template-areas: ". week" "time content";
    grid-template-columns: 120px;
    grid-template-rows: 60px;
    width: 100vw;
    height: 100vh;
}
.timetable .accent-pink-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #ee8ebc, #eea08e);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-pink-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(238, 142, 188, 0.3);
    transform: scale(1.05);
}
.timetable .accent-orange-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #eec08e, #dcee8e);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-orange-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(238, 192, 142, 0.3);
    transform: scale(1.05);
}
.timetable .accent-green-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #bcee8e, #8eeea0);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-green-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(188, 238, 142, 0.3);
    transform: scale(1.05);
}
.timetable .accent-cyan-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8eeec0, #8edcee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-cyan-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(142, 238, 192, 0.3);
    transform: scale(1.05);
}
.timetable .accent-blue-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #8ebcee, #a08eee);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-blue-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(142, 188, 238, 0.3);
    transform: scale(1.05);
}
.timetable .accent-purple-gradient {
    display: flex;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, #c08eee, #ee8edc);
    transition: 0.2s ease box-shadow, 0.2s ease transform;
}
.timetable .accent-purple-gradient:hover {
    box-shadow: 0 20px 30px 0 rgba(192, 142, 238, 0.3);
    transform: scale(1.05);
}
.timetable .weekend {
    background: #fbfbfc;
    color: #87a1ad;
}
.timetable .week-names {
    grid-area: week;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-transform: uppercase;
    font-size: 12px;
}
.timetable .week-names > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 1px 0 0 #eceff1;
}
.timetable .time-interval {
    grid-area: time;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    font-size: 14px;
}
.timetable .time-interval > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 1px 0 0 #eceff1;
}
.timetable .content {
    grid-area: content;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(7, 1fr);
}
.timetable .content > div {
    box-shadow: inset 1px 0 0 #eceff1, inset 0 1px 0 0 #eceff1;
} */
