.container{
    /* background-color: wheat; */
    margin-top:55px;
    padding-top: 20px;
}

.trainerDescription{
    padding-top: 50px;
    height: 100%;
    font-family: 'Roboto';
    display: flex;
    justify-content: center;
}

.trainerImg{
    width:320px;
    height:320px;
    float: left;
}

.trainerDetails{
    width: 320px;
    margin-left: 15px;
    text-align: unset !important;
}

.trainingType{
    display: flex;
    justify-content: center;
}

button{
    outline: none;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    font-size: 13pt;
    transition: all .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activated {
    color: white !important;
    background-color: #EE0079;
}

.payment{
    background-color: rgb(0, 104, 231);
    border-radius: 20px;
    float: right;
}