.container{
    background-color: wheat;
    margin-top:55px;
    padding-top: 20px;
}

.trainerDescription{
    text-align: center;
    height: 120px;
    display: flex;
    justify-content: center;
}

.trainingType{
    display: flex;
    justify-content: center;
}

button{
    outline: none;
    background-color: transparent;
    padding: 10px 20px;
    border: 1px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    font-size: 13pt;
    transition: all .5s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activated {
    color: white !important;
    background-color: #EE0079;
}

.payment{
    background-color: rgb(0, 104, 231);
    border-radius: 20px;
    float: right;
}